html{
    background: linear-gradient(90deg,rgb(255, 143, 225), rgb(154, 222, 154));
    color:black
    }
    /*linear gradient pink to green left to right*/
    
body{
    width: 400px;
    margin: auto;
    text-align: center;
    padding: 140px;

}
answer{
    font-size: 25px;
    font-style: oblique;
    
}

login{                                       
    margin-left: 70px;
    width:350px;
    height: 350px;
    margin: auto;
    margin-top: 10px;
    border-style:dotted; 
    color: rgb(18, 15, 42);
    display: grid;
    justify-content: center;
    align-items: center;

}
